* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

#page1 {
    /* background-image: url(images/pexels-pixabay-158163.jpg); */
    background-image: linear-gradient(45deg, rgb(0, 0, 35), rgb(6, 146, 202));
    background-position: center;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgb(202, 198, 198);
}

#logo {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: rgb(250, 246, 182);
    font-size: 30px;
}

#logo img {
    height: 40px;
    padding: 5px;
}

#container {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(10, 9, 9, 0.1);
}

#container h1 {
    color: #061b1b;
}

#search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

#container button {
    border-radius: 5px;
    padding: 2px;
    border: none;
    font-weight: 500;
    background-color: rgb(51, 115, 140);
}

#result {
    color: #333;
    font-size: 18px;
}

#time {
    color: #ccc;
}

.data_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #ccc;
    padding: 11px;
    margin: 20px;
}

.data_container div {
    margin: 24px;
}

#wind {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#wind img {
    height: 100px;
}

#temp img {
    height: 100px;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

#city {
    display: flex;
    justify-content: center;
    color: #ccc;
    font-size: x-large;
}

#info_wind {
    display: flex;
    flex-direction: column;
}

.weather_description {
    display: flex;
    justify-content: center;
    color: #ccc;
    font-size: x-large;
}

.weather_description span{
    margin: 5px;
    text-align: center;
}